{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.first_name }} {{author.last_name}}</h1>

  <p><strong>Dates:</strong> (dates)</p> <!-- author detail link not yet defined -->

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>

    <!-- NOTE bookinstance_set is created by the framework -->
    {% for book in author.book_set.all %}
    <hr>
    <h4><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.bookinstance_set.all.count }})</h4>
    <p>{{ book.summary }}</p>
    {% endfor %}
  </div>
{% endblock %}